body {
  background-color: black;
  color: white;
  font-family: Verdana;
  margin: 0;
  overflow-y: auto;
  overflow-x: auto;
}

.page {
  height: 2700px;
  margin-top: 10px;
  margin-left: 0px;
  border: 5px solid #E0943B;
  border-radius: 8px;
  box-sizing: border-box;
  position: relative;

  background-image: 
    url("/images/mc_grass.png"),  
    url("/images/mc_dirt.png"); 
  background-repeat: 
    repeat-x,
    repeat; 
  background-size: 
    50px 50px,
    50px 50px; 
  background-position: 
    top left, 
    top left; 
}

#componetsDiv,
#notGateDiv,
#orGateDiv,
#andGateDiv,
#xOrGateDiv,
#quickTestDiv,
#quickTest2Div {
  width: 500px;
  height: 300px;
  margin: 40px auto 0 auto;
  border: 5px solid #E0943B;
  border-radius: 8px;
  padding: 10px;
  background-color: black;
}

canvas {
  display: block;
  margin: 0 auto;
}


