body {
  background-color: black;
  color: white;
  font-family: Verdana;
  margin: 0;
  /* overflow-y: hidden; */
  overflow-x: hidden;
}

.page {
  height: calc(100vh - 10px); 
  margin-top: 10px;
  margin-left: 0px;
  position: relative;
}

#fileNameDisplay { 
  font-family: 'Press Start 2P', monospace;
  font-size: 20px;
}

#midiPlayer {
  width: 100%;
  margin-top: 20px;
}

li{
  padding: 3px;
}

#fileList { 
  cursor: pointer; 
  font-family: 'Press Start 2P', monospace;
  font-size: 10px;
}

#autoPlayButton { 
  cursor: pointer; 
  font-family: 'Press Start 2P', monospace;
  font-size: 10px;
}

#randomizeTrackseButton { 
  cursor: pointer; 
  font-family: 'Press Start 2P', monospace;
  font-size: 10px;
}