body {
  background-color: black;
  color: white;
  font-family: Verdana;
  margin: 0;
  overflow-y: auto;
  overflow-x: auto;
}

.page {
  height: calc(100vh - 10px); /* 5px top + 5px bottom */
  margin-top: 10px;
  margin-left: 0px;
  border: 5px solid #E0943B;
  border-radius: 8px;
  box-sizing: border-box;
  position: relative;

  background-image: 
    url("/images/mc_grass.png"),
    url("/images/mc_dirt.png"); 
  background-repeat: 
    repeat-x,
    repeat;
  background-size: 
    50px 50px,
    50px 50px;
  background-position: 
    top left,
    top left;
}

#midiPlayApp {
  margin-top: 40px;
  margin: 40px auto 0 auto;
  padding: 15px;
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  overflow-x: hidden;
  border: 1px solid #E0943B;
  background-color: #505090;
}

#trackList {
  margin-top: 5px;
  flex: 1;  
  overflow-y: auto;
  overflow-x: auto;
  border: 1px solid #E0943B;;
}


#fileNameDisplay { 
  font-family: 'Press Start 2P', monospace;
  font-size: 10px;
  padding: 5px;
  border: 1px solid #E0943B;
}

#midiPlayer {
  width: 100%;
}

li{
  white-space: nowrap;
  padding: 3px;
}

#midiUlList { 
  cursor: pointer; 
  font-family: 'Press Start 2P', monospace;
  font-size: 10px;
}

#previousButton { 
  margin-top: 5px;
  float: left;
  width: 49%;
  cursor: pointer; 
  font-family: 'Press Start 2P', monospace;
  font-size: 10px;
}

#nextButton { 
  margin-top: 5px;
  float: right;
  width: 49%;
  cursor: pointer; 
  font-family: 'Press Start 2P', monospace;
  font-size: 10px;
}

#autoPlayButton {
  margin-top: 5px;
  float: left; 
  width: 49%;
  cursor: pointer; 
  font-family: 'Press Start 2P', monospace;
  font-size: 10px;
}

#randomizeButton { 
  margin-top: 5px;
  float: right;
  width: 49%;
  cursor: pointer; 
  font-family: 'Press Start 2P', monospace;
  font-size: 10px;
}

