body {
  background-color: black;
  color: white;
  font-family: 'Press Start 2P', monospace;
  font-size: 15px;
  margin: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}



.page {
  height: 100vh;
  border: 5px solid #E0943B;
  border-radius: 8px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden; /* ✅ prevents scrollbars */

  background:
    radial-gradient(circle at 50% 160%, #3cb043 0 140px, transparent 141px) repeat-x,
    radial-gradient(circle at 50% 125%, #2e8b3c 0 120px, transparent 125px) repeat-x,
    linear-gradient(to top, #87ceeb 0%, #5fb3e6 100%);

      background-size: 150px 100%, 120px 100%, 100% 100%;
}




.tree {
  position: absolute;
  left: 200px;
  top: 50px;
  z-index: 1;
}

.tree-top {
  width: 16px;
  height: 16px;
  background: green;
  border-radius: 50%;
}

.tree-trunk {
  width: 6px;
  height: 20px;
  background: #5b3a1a;
  margin: 0 auto; /* centers under top */
}




#kflashLogo {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 110px;
  margin-left: 0px;
  z-index: 11;
}

#topTitle {
  position: absolute; 
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Press Start 2P', monospace;
  font-size: 45px;
  color: white;
  text-decoration: none;

  z-index: 10;

  text-shadow:
    -2px -2px 0 black,
     2px -2px 0 black,
    -2px  2px 0 black,
     2px  2px 0 black;
}


#sprite {
  position: absolute;
  top: 7px;
  right: 20px;

  z-index: 10;

  width: 250px;
  height: 360px;

  background: url('../images/sprites/cross/cross.png') no-repeat;

  transform: scale(0.25);
  transform-origin: top right;

  animation: play 0.5s steps(2, jump-none) infinite;
}


@keyframes play {
  0%   { background-position:   0px   0px; }
  25%  { background-position: -250px   0px; }
  50%  { background-position:   0px -360px; }
  75%  { background-position: -250px -360px; }
  100% { background-position:   0px   0px; }
}

#campfire {
  position: absolute;
  top: 60px;
  right: 100px;

  z-index: 0;

  width: 250px;
  height: 360px;

  background: url('../images/mc_campfire.gif') no-repeat;

  transform: scale(0.10);
  transform-origin: top right;
}


