body {
  background-color: black;
  color: white;
  font-family: Verdana;
  margin: 0;
  overflow-y: auto;
  overflow-x: auto;
}

.page {
  height: calc(100vh - 10px);
  margin-top: 10px;
  margin-left: 0px;
  border: 5px solid #E0943B;
  border-radius: 8px;
  box-sizing: border-box;
  position: relative;

  background-image: 
    url("/images/mc_grass.png"), 
    url("/images/mc_dirt.png");   
  background-repeat: 
    repeat-x,  
    repeat;  
  background-size: 
    50px 50px,
    50px 50px; 
  background-position: 
    top left, 
    top left; 
}

#colorPickerDiv {
  position: absolute;
  top: 70px;
  left: 50%; 
  transform: translateX(-50%);
  margin-top: 30px;
  display: block;
}


#hsv {
  top: -85px;
  left: 0;
  margin-top: 10px;
  position: absolute; 
  display: block;
  background-color: black;
  color: white;
}

#rgb {
  top: -60px;
  left: 0px;
  margin-top: 10px;
  position: absolute; 
  display: block;
  background-color: black;
  color: white;
}

#hex_1 {
  top: -35px;
  left: 0%;
  margin-top: 10px;
  position: absolute; 
  display: block;
  background-color: black;
  color: white;
}

#hex input {
  width: 60px;
}

#hsv input,
#rgb input {
  width: 50px;
}

