body {
  background-color: black;
  color: white;
  font-family: Verdana;
  margin: 0;
  /* overflow-y: hidden;
  overflow-x: hidden; */
}

.page {
  height: calc(100vh - 10px); /* 5px top + 5px bottom */
  margin-top: 10px;
  margin-left: 0px;
  border: 5px solid #E0943B;
  border-radius: 8px;
  box-sizing: border-box;
  position: relative;

  background-image: 
    url("/images/mc_grass.png"),   /* top layer */
    url("/images/mc_dirt.png");    /* bottom layer */
  background-repeat: 
    repeat-x,  /* grass only repeats horizontally */
    repeat;    /* dirt tiles everywhere */
  background-size: 
    50px 50px, /* grass size */
    50px 50px; /* dirt size */
  background-position: 
    top left,  /* grass at the top */
    top left;  /* dirt starts same position */
}

#color_picker_div {
  top: 70px;
  left: 25%;
  margin-top: 10px;
  position: absolute; 
  display: block;
}

#hsv {
  top: -85px;
  left: 0;
  margin-top: 10px;
  position: absolute; 
  display: block;
  background-color: black;
  color: white;
}

#rgb {
  top: -60px;
  left: 0px;
  margin-top: 10px;
  position: absolute; 
  display: block;
  background-color: black;
  color: white;
}

#hex_1 {
  top: -35px;
  left: 0%;
  margin-top: 10px;
  position: absolute; 
  display: block;
  background-color: black;
  color: white;
}

#hex input {
  width: 60px;
}

#hsv input,
#rgb input {
  width: 50px;
}

